/* Custom Stylesheet */
/**
 
 * Made By  hArinandanShukla ,Webdevloper 
 */
/* Normal desktop :1200px. */
/* Normal desktop :992px. */
/* Tablet desktop :768px. */
/* small mobile :320px. */
/* Large Mobile :480px. */

/* Import Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


body {
  
  font-weight: normal;
  font-style: normal;

  
  -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
      
        
}

.avatar-image {
  width:50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  border-radius: 50%; /* Rounded shape */
  background-color: transparent;
  box-shadow: none !important; 
}
.user-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}
.user-info .user-name {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 5px;
  color: #10182F;
}
.user-info .logout {
  font-size: 1rem;
  color: #266480;
}
.divider {
  width: 100%;
  margin: 10px auto;
  height: 1px;
  background-color: #0236c5;
}
.bold-text
{
  font-weight: bold !important;
  
}


.no-shadow {
  box-shadow: none !important; /* Remove box shadow */
}

.service-title {
  font-size: 1.5rem; /* Example of custom font size for title */
}

.service-description {
  font-size: 1.1rem; /* Example of custom font size for description */
}
.nav-wrapper a.lsize:hover {
  color: red !important; /* Change this color to your desired hover color */
  background-color: transparent !important;
}

/* Common Styles */
.lsize {
  font-size: 1.1em;
}
.icon-nav
{
  color: #1a237e ;
  
}

.red-text {
  color: #f00; /* Red */
  font-family: 'Montserrat', sans-serif;
}



a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

/* Hover Effects */
a:hover {
  color:  #FF1D00; /* Hover color for text */
}

a:hover .material-icons {
  color:  #FF1D00 !important /* Hover color for icons */
}

.hero-container {
  text-align: left;
  margin-top: 50px; /* Adjusted for better spacing */
}

.brand-line {
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: #1f3a93; /* Dark Blue */
}

.subheading {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  color:  #FF1D00; /* Red */
}

.description {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
  color: #333; /* Dark Gray for readability */
}

.get-started-btn {
  background-color: transparent; /* Dark Blue */
  border: 2px solid #ff6b6b; /* Light Blue */
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: 600;
  color:  red;
  border-radius: 20px;
  transition: background 0.3s ease, transform 0.3s ease;
  font-family: 'Roboto', sans-serif; /* Consistent font */
}

.get-started-btn:hover {
  background-color: #e9e9e9; /* Light Blue */
  transform: translateY(-2px);
}

.herosvg {
  margin-top: 50px; /* Adjusted for better alignment */
  width: 500px;
  align-items: right;
   /* Ensure responsiveness */
}

/* Utility Classes */
.white {
  background-color: #ffffff;
}

.dark-blue-text {
  color: #1f3a93;
}

.red-text {
  color:  #FF1D00;

}











.card {
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-image img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.card-content {
  padding: 20px;
  background-color: #fff; /* White background for content */
}

.card-title {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #e74c3c; /* Red */
}

.card-content p {
  font-size: 1rem;
  line-height: 1.6;
  color: #666;
}

.red-text {
  color: #FF1D00; /* Red */
}

.bold-text {
  font-weight: 600;
}



/*   newslatter */
.subscribe-section {
  background: rgba(235, 255, 252, 0.685);
  color: rgb(2, 9, 109);
  padding: 50px 0;
}
.subscribe-container {
  max-width: 800px;
  margin: auto;
}
.input-field input[type=email]:focus + label {
  color: #0e0d0d !important;
}
.input-field input[type=email]:focus {
  border-bottom: 1px solid #0f0f0f !important;
  box-shadow: 0 1px 0 0 #111011 !important;
  color: rgb(5, 5, 5);
}
.btn-subscribe {
  background-color: transparent!important;
  color: rgb(2, 9, 109);
  box-shadow: none;
  border: 2px solid blue;
  border-radius: 20px;
  margin: 20px;
  width: 150px;
  height: 50px;
}


.custom-footer {
  background-color: #10182F;
  color: white;
  padding: 40px 0;
  font-family: 'Open Sans', sans-serif;
}

.custom-footer h5 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.custom-footer ul {
  list-style-type: none;
  padding: 0;
}

.custom-footer ul li {
  margin-bottom: 10px;
}

.custom-footer ul li a {
  color: #bfbfbf;
  text-decoration: none;
  transition: color 0.2s;
}

.custom-footer ul li a:hover {
  color: white;
}

.custom-footer form {
  margin-top: 20px;
}

.custom-footer input {
  background: none;
  border: 1px solid #7489C6;
  color: white;
  padding: 10px;
  margin-right: 10px;
  border-radius: 4px;
}

.custom-footer input::placeholder {
  color: #ccc;
}

.custom-footer .btn {
  background-color: #fff;
  color: #10182F;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.custom-footer .btn:hover {
  background-color: #cecccc;
}

.custom-footer p, .custom-footer a {
  color: #bfbfbf;
}

.custom-footer p {
  margin: 0;
}

.custom-footer .social-icons {
  margin-top: 20px;
}

.custom-footer .social-icons a {
  color: #bfbfbf;
  margin: 0 10px;
  font-size: 24px;
  transition: color 0.2s;
}

.custom-footer .social-icons a:hover {
  color: #fff;
}

@media (max-width: 1200px) {
  .custom-footer .row .col {
    margin-bottom: 20px;
  }

  .custom-footer .row {
    display: flex;
    flex-wrap: wrap;
  }

  .custom-footer .row .col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .custom-footer .row .col {
    margin-bottom: 20px;
  }

  .custom-footer .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .custom-footer .row .col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}




.curve {
  position: absolute;
  height: 250px;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.curve::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  transform: translate(85%, 60%);
  background-color: hsl(216, 21%, 16%);
}

.curve::after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: #3c31dd;
  transform: translate(-4%, 40%);
  z-index: -1;
}



.brand-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.brand {
  text-align: center;
  width: 120px; /* Adjust width of each brand as needed */
}

.brand img {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.brand-info h4 {
  margin-top: 10px;
  font-size: 18px;
  color: blue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  visibility: hidden;
  

}


/*login*/
.section {
  padding: 50px 0;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content {
  flex: 1 1 auto;
}

.card-title {
  font-size: 1.5rem;
}

.gradient-card1 {
  background: linear-gradient(135deg, #172642, #a9bcdd);
  border-radius: 10px;
  overflow: hidden;
}

.gradient-card2 {
  background: linear-gradient(135deg, #150453, #e5ebf0);
  border-radius: 10px;
  overflow: hidden;
}

.gradient-card3 {
  background: linear-gradient(135deg, #ec5f0d, #f3efe2);
  border-radius: 10px;
  overflow: hidden;
}

.gradient-card4 {
  background: linear-gradient(135deg, #fcf8f8, #ff4800);
  border-radius: 10px;
  overflow: hidden;
}

.gradient-card5 {
  background: linear-gradient(135deg, #30d607, #d8e2f1);
  border-radius: 10px;
  overflow: hidden;
}

.gradient-card6 {
  background: linear-gradient(135deg, #d60404, #e9f6ff);
  border-radius: 10px;
  overflow: hidden;
}

/* 
.section-job {
  padding: 60px 0;
  background-color: #ffe5e5;
}
.job-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
.job-content .text-content {
  flex: 1;
  margin: 20px;
}
.job-content .text-content h5 {
  font-size: 2rem;
  color:#af0505;
  margin-bottom: 20px;
}
.job-content .text-content p {
  font-size: 1.2rem;
  color: #af0505;
  margin-bottom: 30px;
}
.job-content .icon-content {
  flex: 0.3;
  margin: 20px;
}
.job-content .icon-content i {
  font-size: 6rem;
  color: #af0505;
} */
.btn-large{
  background-color: transparent;
  color: #af0505;
  padding: 0 2rem;
  box-shadow: none;
  border: 2px solid red;
  border-radius: 20px;
}
.btn-large:hover
{
  color: white;
  background-color: #af0505;
}



.steps-section {
  padding: 60px 20px;
  background-color: #fff0f0;
  text-align: center;
}
.steps-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.step {
  flex: 1;
  max-width: 200px;
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}
.step::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -30px;
  width: 20px;
  height: 20px;
  border-top: 3px solid #ff5e62;
  border-right: 3px solid #ff5e62;
  transform: rotate(45deg);
}
.step:last-child::after {
  content: none;
}
.step-icon {
  font-size: 3rem;
  background: linear-gradient(125deg, #ac0202, #fa3b34);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}
.step-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #0c0909;
}
.step-description {
  font-size: 1rem;
  color: #000000;
}





/*  css for logoin form 

*/
